<!DOCTYPE html>
<html lang="ja">

{#
  jsonの形式:
  {
    "last_update_date": <Date>
    "feeds": [
      {
        "path": "feeds/hogehoge.xml",
        "title": "アルバム名"
      }, ...
    ]
  }
#}

    <head><meta charset="utf-8"/></head>
    <body>
        <h1>Podcast Server</h1>
        <p>last updated: {{ last_update_date.strftime('%Y-%m-%d %H:%M:%S') }}<p>
        <ul>
{% for feed in feeds %}
            <li><a href="{{ feed.path }}">{{ feed.title }}</a></li>
{% endfor %}
        </ul>
    </body>
</html>
